*{
    margin: 0;
    font-family: sans-serif;
}

body{
    padding: 40px 0;
}

section
{
    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    background-color: rgb(235, 235, 235);
    color: darkcyan;
    text-align: center;
    margin: 10px;
    height: 60px;
    line-height: 60px;
}

h2{
    margin: 20px;
    text-align: center;
}

.info-blocks
{
    display: flex;
}

.info-block
{
    background-color:beige;
    padding: 30px ;
    margin: 0 10px;
}

